fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic[email]==2.5.3
python-dotenv==1.0.1

aiomysql==0.2.0
pymysql==1.1.0
mysql-connector-python==8.3.0
qdrant-client==1.7.3
grpcio==1.60.0

--extra-index-url https://download.pytorch.org/whl/cu121
numpy==1.26.4
torch==2.1.2+cu121
torchvision==0.16.2+cu121
torchaudio==2.1.2+cu121

transformers==4.36.2
sentence-transformers==2.3.1
typing-extensions==4.8.0
urllib3==2.2.1

pytest==8.0.0
cryptography==42.0.2

ollama==0.1.6
tqdm==4.66.1
opencc-python-reimplemented==0.1.7


redis[asyncio]==5.0.1